#userInfoDiv {
    margin-top: 100px;
    margin-bottom: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#adminTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#adminHead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#adminH1 {
    font-size: 30px;
}

#adminTR {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
}

#adminBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#adminTR {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    margin-top: 5px;
}