#mainContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #353535;
  }
  
#sectionA {
  height: 100vh;
  width: 100%;
  background-image: url("/Users/evali/Desktop/BootCamp/projects/ecommerce/E-commerce/public/pictures/home.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#sectionAText {
  padding-left: 60px;
  padding-bottom: 105px;
}

#text1 {
  font-size: 40px;
  font-weight: 900;
  margin: 0;
  letter-spacing: 1px;
}

#text2 {
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 15px;
}

#sectionABtn {
  appearance: button;
  background-color: white;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: white 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #353535;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
}

#sectionABtn:focus {
  text-decoration: none;
}

#sectionABtn:hover {
  text-decoration: none;
  color: #6c757d;
  transition: 400ms;
}

#sectionABtn:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

#sectionABtn:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  #sectionABtn {
    padding: 12px 50px;
  }
}

#textABtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#aBtnArrow {
  padding-left: 10px;
  font-size: 25px;
  font-weight: bolder;
}

/* -------------------------------- */

#sectionB {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 10px;
  font-size: 20px;
}

#bBtn1 {
  background-image: url("/Users/evali/Desktop/BootCamp/projects/ecommerce/E-commerce/public/pictures/shoe1.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 60vh;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: #353535;
  padding-top: 15px;
  padding-left: 15px;
}

#bBtn2 {
  background-image: url("/Users/evali/Desktop/BootCamp/projects/ecommerce/E-commerce/public/pictures/clothing.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 60vh;
  margin-right: 10px;
  text-decoration: none;
  color: #353535;
  padding-top: 15px;
  padding-left: 15px;
}

#bBtn3 {
  background-image: url("/Users/evali/Desktop/BootCamp/projects/ecommerce/E-commerce/public/pictures/shoe2.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 60vh;
  margin-right: 10px;
  text-decoration: none;
  color: #353535;
  padding-top: 15px;
  padding-left: 15px;
}

#bBtn4 {
  background-image: url("/Users/evali/Desktop/BootCamp/projects/ecommerce/E-commerce/public/pictures/shoe3.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 60vh;
  margin-right: 10px;
  text-decoration: none;
  color: #353535;
  padding-top: 15px;
  padding-left: 15px;
}

/* -------------------------------------- */

#hide1 {
  padding-top: 200px;
}

#bBtn1 #hide1 {
  visibility:hidden; opacity:0;
  transition:visibility 300ms, opacity 1s; 
}

#bBtn1:hover #hide1 {
  visibility:visible; 
  opacity:1;
  color: white;
  font-size: 50px;
  font-weight: bold;
  }

#bBtn1:hover {
  filter: grayscale(80%);
  transition: 300ms;
}

#hide2 {
  padding-top: 200px;
}

#bBtn2 #hide2 {
  visibility:hidden; opacity:0;
  transition:visibility 300ms, opacity 1s; 
}

#bBtn2:hover #hide2 {
  visibility:visible; 
  opacity:1;
  color: white;
  font-size: 50px;
  font-weight: bold;
  }

#bBtn2:hover {
  filter: grayscale(80%);
  transition: 300ms;
}

#hide3 {
  padding-top: 200px;
}

#bBtn3 #hide3 {
  visibility:hidden; opacity:0;
  transition:visibility 300ms, opacity 1s; 
}

#bBtn3:hover #hide3 {
  visibility:visible; 
  opacity:1;
  color: white;
  font-size: 50px;
  font-weight: bold;
  }

#bBtn3:hover {
  filter: grayscale(80%);
  transition: 300ms;
}

#hide4 {
  padding-top: 200px;
}

#bBtn4 #hide4 {
  visibility:hidden; opacity:0;
  transition:visibility 300ms, opacity 1s; 
}

#bBtn4:hover #hide4 {
  visibility:visible; 
  opacity:1;
  color: white;
  font-size: 50px;
  font-weight: bold;
  }

#bBtn4:hover {
  filter: grayscale(80%);
  transition: 300ms;
}